<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="Impart Inspector" Manufacturer="Impart Security" Version="$(var.ProductVersion)" UpgradeCode="05c996a9-a7e8-465c-867c-a25eb1be5e14">
    
    <Icon Id="AppIcon" SourceFile="../resources/impart-security.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    <Property Id="SERVICE_ACCOUNT" Secure="yes" Value="LocalSystem" />
    <Property Id="SERVICE_PASSWORD" Secure="yes" />
    <Property Id="API_KEY" Secure="yes" />

    <WixVariable Id="WixUIBannerBmp" Value="../resources/TopBar.png" />      
    <WixVariable Id="WixUIDialogBmp" Value="../resources/Background.png" />

    <ui:WixUI Id="WixUI_InstallDirCustom" InstallDirectory="INSTALLFOLDER"/>

    <!-- Directory setup -->
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="ImpartSecurity" Name="Impart Security">
        <Directory Id="INSTALLFOLDER" Name="Inspector" />
      </Directory>
    </StandardDirectory>

    <MediaTemplate EmbedCab="yes" />
    <!-- Feature for the service -->
    <Feature Id="MainFeature" Title="Impart Inspector Service" Level="1">
      <ComponentGroupRef Id="ImpartInspectorComponents" />
    </Feature>

    <InstallExecuteSequence>
      <Custom Before="InstallFinalize" Action="Register" Condition="NOT Installed"/>
      <Custom Action="UnRegister" Before="RemoveFiles" Condition="REMOVE=&quot;ALL&quot; OR REINSTALL"/>
      <Custom Action="WriteApiKeyToFile" After="InstallFiles" Condition="NOT Installed"/>
    </InstallExecuteSequence>
  </Package>

  <!-- Fragment with the components -->
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="ImpartInspectorComponent" Guid="48b86deb-4e7f-432e-a9c4-4c4d5775ebcd">
        <!-- Executable file to be installed as a service -->
        <!-- <File Id="InspectorExe" Source="inspector.exe" KeyPath="yes" /> -->
        <File Id="InspectorExe" Source="inspector-$(var.Platform)-windows.exe" Name="inspector.exe" KeyPath="yes" />

        <File Id="RegisterScript" Source="register.ps1" />
        <File Id="UnRegisterScript" Source="unregister.ps1" />

        <RemoveFile Id="RemoveInspectorExe" Name="inspector.exe" On="uninstall" />
        <RemoveFile Id="RemoveRegisterScript" Name="register.ps1" On="uninstall" />
        <RemoveFile Id="RemoveUnregisterScript" Name="unregister.ps1" On="uninstall" />

        <!-- Service Installation -->
        <ServiceInstall Id="ImpartInspectorInstall" Name="Impart Inspector" DisplayName="Impart Inspector" Type="ownProcess" Start="auto" 
          Account="[SERVICE_ACCOUNT]" 
          Password="[SERVICE_PASSWORD]"
          ErrorControl="normal" Description="Impart Inspector Service for API monitoring and security." 
          Arguments="--http_listener_disable_tls --mode tcp_server --api_access_token_file_path &quot;[INSTALLFOLDER]accessToken.config&quot;"/>

        <!-- Service Control -->
        <ServiceControl Id="StartImpartInspectorService" Name="Impart Inspector" Stop="both" Remove="uninstall" Wait="yes" />
      </Component>
    </DirectoryRef>

    <!-- Group components -->
    <ComponentGroup Id="ImpartInspectorComponents" Directory="INSTALLFOLDER">
      <ComponentRef Id="ImpartInspectorComponent" />
    </ComponentGroup>

    <SetProperty Id="Register"
        Value="&quot;[System64Folder]WindowsPowerShell\v1.0\powershell.exe&quot; -ExecutionPolicy Bypass -NonInteractive -NoProfile -File &quot;[INSTALLFOLDER]register.ps1&quot;"
        Before="Register"
        Sequence="execute" />

    <CustomAction Id="Register"
        DllEntry="WixQuietExec64"
        Execute="deferred"
        Return="check"
        Impersonate="no"
        BinaryRef="Wix4UtilCA_X64" />

    <SetProperty Id="UnRegister"
        Value="&quot;[System64Folder]WindowsPowerShell\v1.0\powershell.exe&quot; -ExecutionPolicy Bypass -NonInteractive -NoProfile -File &quot;[INSTALLFOLDER]unregister.ps1&quot;"
        Before="UnRegister"
        Sequence="execute" />

    <CustomAction Id="UnRegister"
        DllEntry="WixQuietExec64"
        Execute="deferred"
        Return="check"
        Impersonate="no"
        BinaryRef="Wix4UtilCA_X64" />

    <SetProperty Id="WriteApiKeyToFile"
        Value="&quot;cmd.exe&quot; /c echo [API_KEY] > &quot;[INSTALLFOLDER]accessToken.config&quot;"
        Before="WriteApiKeyToFile"
        Sequence="execute" />

    <CustomAction Id="WriteApiKeyToFile"
        DllEntry="WixQuietExec64"
        Execute="deferred"
        Return="check"
        Impersonate="no"
        BinaryRef="Wix4UtilCA_X64" />
  </Fragment>
</Wix>
